@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {

--color-dark: #0B0F19;
--color-primary: #6366F1;
--color-gray600: #9397AD;
--color-white: #FFFFFF;
--color-gray300: #E2E5F1;


--container-padding: 1rem;
--transition-time: all 0.2s;

}

*  {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body, section, div, header, footer, main, aside, nav, blockquote, p, span {

margin: 0;
padding: 0;
}


body {
  font-family: "manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
/* Detta är alla länkar */
a {
color: var(--color-primary);
text-decoration: none;
}
a:hover {

  color: var(--color-primary);
  text-decoration: underline;
}
/* Detta är features-iconen */
.nav-link {
  color: var(--color-dark);
  font-weight: 600;
  text-decoration: none;
  
}
/* Detta är när man för musen över ikonen */
.nav-link:hover {
  color: var(--color-primary);
  text-decoration: underline;
}
/* Detta är silicon-loggan */
#logo {
  padding-left: 18rem
}

/* Detta är sign in knappen */
.btn-primary {
  margin-left: 12rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 8px;
  padding: 12px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.btn-primary:hover {
background-color: var(--color-gray600);
color: var(--color-white);
text-decoration: none;
}
.btn-primary {
  margin-right: 14rem;
  }

  .btn-mobile {
    backgrounc-color: transparent;
    border: none;
    font-size: 2rem; 
 }
/* Detta är darkmode knappen */
.btn-toggle-switch {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 1rem;
}
  
.btn-toggle-switch .label {
  display: flex;
 }
  
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
}
  
.toggle-switch input {
    opacity: 0;
}

.toggle-switch input:focus + .slider {
  box-shadow: 0 0 1px var(--color-primary);
}
  
.toggle-switch input:checked + .slider {
    background-color: var(--color-primary);
}
  
  
.toggle-switch input:checked + .slider:before {
    transform: translateX(18px);
    background-color: var(--color-white);
}
  
.toggle-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-gray600);
    transition: all 0.2s;
}
  
.toggle-switch .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 2.5px;
    background-color: var(--color-white);
    transition: all 0.2s;
}
  
.toggle-switch .slider.round {
    border-radius: 35px;
}
  
.toggle-switch .slider.round:before {
    border-radius: 50%;
}
/* Detta är linjen längst upp på sidan */
.navbar {
  display: flex;
  justify-content: space-between
  align-items: center;
  padding: 1rem 20rem;
}
/* Detta är apple dowloadappen */
.btn-download-app {
  background-color: var(--color-dark);
  color: var(--color-white);
  border-radius: 8px;
  padding: 12px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.btn-download-app:hover {
  background-color: var(--color-gray600);
  color: var(--color-white);
  text-decoration: none;
  }
/* Detta är cirkeln till discover more knappen */
  .btn-circle {
    height: 44px;
    width: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid var(--color-border-gray600);
    background-color: var(--color-white);
    color: var(--color-dark);
    
  }
/* Detta är texten allra längst ner på sidan*/
  footer {
    font-size: 14px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--color-gray600);
  
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
  
    }
    .credit {
      display: none;
    }
  }
/* Detta är alla logos på rad under hero*/
#brands {
  display: none;
  padding: 1px;
  padding-bottom: 2rem;
  
}

.brand-box {
  border: 1px solid var(--color-gray300);
  border-radius: 8px;
  height: 100px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}


#brands {
  display: block;

  .container2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 37rem;
    padding-right: 36rem;
  }

}
}

@media (min-width: 1400px) {
  .container1 {
    max-width: 1320px;  
  }

.navbar {
  display: block;
  }

#auth-signin {
  display: block;
}
.btn-mobile {
  display: none;
}

}

#hero1 {
  background: linear-gradient(0deg, rgba(99, 102, 241, 0.1) 0%, rgba(218, 70, 239, 0.05) 42%, rgba(241, 244, 253, 0.07) 83%);
  /* Applicera bakgrunden på hela hero-sektionen */
  width: 100vw; /* Full bredd över hela viewporten */
  display: flex;
  justify-content: center;
  

  .container1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: rgb(99, 102, 241);
    background: linear-gradient(0deg, rgba(99, 102, 241, 0.1) 0%, rgba(218, 70, 239, 0.05) 42%, rgba(241, 244, 253, 0.07) 83%);
    height: 70vh;
    width: 100vw;
    gap: 12rem;
    justify-items: center;  /* Centrerar innehållet horisontellt */
    align-items: center;    /* Centrerar innehållet vertikalt */
    place-items: center;    /* Centrerar allt inom grid-cellerna */
  }

  @media (max-width: 1320px) {
    .container1 {
      grid-template-rows: 1fr auto;
      grid-template-areas: 
        "headline"
        "content" 
        "images";
    }
  }
}

.headline {
  grid-area: headline;
  text-align: left;
  grid-column: span 1;
}

.headline h1 {
  font-size: 56px;
  font-weight: 800;
  max-width: 500px;
}

@media (max-width: 1320px) {
  .headline h1 {
    text-align: left;
  }
}

.content {
  grid-area: content;
}

.content p {
  font-size: 18px;
  margin-bottom: 3rem;
  max-width: 450px;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.discover-more {
  color: var(--color-dark);
  display: flex;
  align-items: center;
  gap: 1rem;
  grid-row: 2;
  margin-top: 12rem;
}

@media (max-width: 1320px) {
  .discover-more {
    justify-content: center;
  }
}

/* Detta är mobilerna i hero */
.images {
  grid-column: 2; /* Lägger bilderna i den andra kolumnen */
  position: relative;
}

.img-back {
  position: absolute;
  bottom: 0;
  right: 200px; /* Justera detta värde för att hålla det inom viewport */
}

.img-front {
  position: absolute;
  bottom: 0;
  right: 0px; /* Justera detta värde så att bilden passar */
}
/* app features sidan */
 
 #page2 {
  #p2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Skapar tre lika stora kolumner */
    gap: 1rem; /* Avstånd mellan grid-objekten */
    margin: auto;
    margin-bottom: 6rem;
    margin-top: 6rem;
    width: 100%; /* Se till att grid fyller sitt container */
    
/* mobilen i features */
    #app-preview {
      display: block;
      height: auto;
      align-self: flex-end;
      margin-left: 36rem

  
    }

   /* För containern som håller alla feature items */
.feature-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Två kolumner, lika breda */
  grid-gap: 2rem; /* Mellanrum mellan kolumner och rader */
  padding: 2rem 0; /* Lite vertikalt utrymme runt om */
  width 100%; /* Fyller hela bredden */
  
}

/* För varje individuellt feature-item */
.feature-item-li {
  display: flex;
  align-items: center; /* Justerar så att ikon och text linjeras upptill */
  gap: 1rem; /* Avstånd mellan ikonen och texten */
}

/* Bakgrunden på ikonerna */
.icon-holder {
  background-color: #E2E5F1;
  padding: 12px;
  max-width: 53px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Text-stil för varje feature */
.text-item h4 {
  font-size: 20px;
  margin: 0;
}

.text-item p {
  margin: 0.5rem 0 0;
  color: #9397AD;
}

      #app-features {
        font-size: 3rem
      }

      .p1 {
        color:#9397AD;
        width: 42rem
        
      }  
  
 }   

}
 /* tre mobiler på rad */
 #page3 {
  
   .text-item {
    display: flex;
    font-size: 25px;
    margin-left: 45% 

  }
 }
}